<!DOCTYPE HTML>

<html>
	<head>
		<title>BahnIQ - A Deutsche Bahn Analytics app</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<meta name="description" content="BahnIQ analyzes Deutsche Bahn train delays and punctuality across routes. Find out how late your train is likely to be using historical data." />
		<meta name="keywords" content="Deutsche Bahn delay, Bahn delay, train analytics, DB punctuality, German train on-time stats, BahnIQ" />
		<meta name="author" content="Statophobia" />
		<meta name="robots" content="index, follow" />

		<!-- Canonical URL -->
		<link rel="canonical" href="https://bahniq.subra.me/" />

		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>

		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon/favicon.svg') }}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}" />
		<link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}" />

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<div id="hamburger-menu" class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				  </div>

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="{{ url_for('static', filename='images/bullet-train-svgrepo-com.svg') }}" alt="" /></span>
						<h1>BahnIQ</h1>
						<p>Deutsche Bahn Analytics – Turning Rail Data into Real Insights<br />
							Stats by <a href="https://www.linkedin.com/in/priya-dharshini-vaidhyanathan-a32bb2285/" target="_blank">Priya</a> 
							& <a href="https://www.linkedin.com/in/subramanian-veerappan/" target="_blank">Subra</a>.</p>
					</header>

				<!-- Main -->
					<h1 class="intro-q">
						Planning a journey? Want to arrive on time?
						<br><span style="font-size: x-large;">Check train performance by route</span>
					</h1>
					
					<div id="main">
						<p class="mobile-screen">Please use the ≡ icon on the top left to make your selection</p>
						<nav id="nav">
							<form action="{{ url_for('stats') }}" method="GET">
								<ul>
									<li>
										<select name="train" id="train">
											<option value="">Select train</option>
											{% for train in dropdown_data.train_names|sort() %}
												<option value='{{train}}' {% if request_data and request_data.train_name == train %}selected{% endif %}>
													{{train}}
												</option>
											{% endfor %}
										</select>
									</li>
							
									<!-- Dropdown 2 -->
									<li>
										<select name="boarding" id="boarding">
											<option value="">Select boarding point</option>
											{% for station in dropdown_data.stations|sort() %}
												<option value='{{station}}' {% if request_data and request_data.boarding_point == station %}selected{% endif %}>
													{{station}}
												</option>
											{% endfor %}
										</select>
									</li>
						
									<!-- Dropdown 3 -->
									<li>
										<select name="deboarding" id="deboarding">
											<option value="">Select deboarding point</option>
											{% for station in dropdown_data.stations|sort() %}
												<option value='{{station}}' {% if request_data and request_data.deboarding_point == station %}selected{% endif %}>
													{{station}}
												</option>
											{% endfor %}
										</select>
									</li>

									<li id="button">
										<button type="submit" class="cssbuttons-io"><span>Let's check!</span></button>
									</li>
								</ul>
								{% if message.error_message %}
									<p class="error">{{message.error_message}}</p>
								{% endif %}
							</form>
						</nav>

						{% if not message.error_message and request_data is defined %}
							<div id="main">

								<!-- Introduction -->
								 	<section id="summary" class="main">
										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>TL;DR</h2>
												</header>
												<ul>
													<li>{{request_data.train_name}} to {{request_data.deboarding_point}} has an average delay of 
														<b>{{short_and_long_term_delay_value.long_term_delay}} minutes</b>.
														{% if short_and_long_term_delay_value.short_term_delay >= 0 %}
															{% set delay_percentage_change = ((short_and_long_term_delay_value.short_term_delay/short_and_long_term_delay_value.long_term_delay)-1)*100 %}
															{% if delay_percentage_change <= -20 %}
																But in the last two weeks, the delay has been <b>decreased by {{delay_percentage_change|abs|round|int}}% to {{short_and_long_term_delay_value.short_term_delay}} minutes</b>.
															{% elif delay_percentage_change >= 20 %}
																But in the last two weeks, the delay has been <b>increased by {{delay_percentage_change|round|int}}% to {{short_and_long_term_delay_value.short_term_delay}} minutes</b>.
															{% endif %}
														{% endif %}
													</li>
													<li>{{request_data.train_name}} was <b>on time for {{on_time_percentage}}%</b> of its journeys — meaning within 6 minutes of the scheduled arrival time.</li>
													<li>For the same journey, you can consider taking <b>{{ least_delay_train }}</b>, which is more efficient with an average delay of <b>{{ least_delay_value }} minutes</b>.</li>
													<li>
														{{request_data.train_name}} experiences its <b>highest delay</b> of {{max_delay_of_train}} minutes on <b>{{max_delay_day}}s</b> and
														on <b>{{min_delay_day}}s</b>, it has the <b>shortest delay</b> of {{min_delay_of_train}} minutes.
													</li>
													<li>Incase, you plan to take some other train to {{request_data.deboarding_point}}, it's good to note that trains arriving during <b>{{category_with_max_delays}} experience the highest delay of {{max_delay}} minutes</b>.</li>
												</ul>
												<i><b>Note:</b> All charts are based on last 90 days of data, unless specified explicitly.</i>
											</div>
										</div>
									</section>

									<section id="train-analytics" class="main">
										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Delay time: {{request_data.train_name}}</h2>
												</header>
												<p>
													{{request_data.train_name}} to {{request_data.deboarding_point}} has an average delay of 
													<b>{{short_and_long_term_delay_value.long_term_delay}} minutes</b>.
													{% if short_and_long_term_delay_value.short_term_delay >= 0 %}
														{% set delay_percentage_change = ((short_and_long_term_delay_value.short_term_delay/short_and_long_term_delay_value.long_term_delay)-1)*100 %}
														{% if delay_percentage_change <= -20 %}
															But in the last two weeks, the delay has been <b>decreased by {{delay_percentage_change|abs|round|int}}% to {{short_and_long_term_delay_value.short_term_delay}} minutes></b>.
														{% elif delay_percentage_change >= 20 %}
															But in the last two weeks, the delay has been <b>increased by {{delay_percentage_change|round|int}}% to {{short_and_long_term_delay_value.short_term_delay}} minutes></b>.
														{% endif %}
													{% endif %}
												</p>
											</div>
											<div class="chart-container">
												<div id='delay_by_week_chart'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
	
										</div>

										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Punctuality rate: {{request_data.train_name}}</h2>
												</header>
												<p>{{request_data.train_name}} was <b>on time for {{on_time_percentage}}%</b> of its journeys — meaning within 6 minutes of the scheduled arrival time.
													</p>
											</div>
											<div class="chart-container">
												<div id='punctuality_chart'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
										</div>
										
										{% if alternative_trains_with_delays_json %}
											<div class="spotlight">
												<div class="content">
													<header class="major">
														<h2>Alternative trains for {{request_data.train_name}}</h2>
													</header>
													<p>
														The table shows the <b>top 5 alternative trains</b> with the least average delays compared to <b>{{request_data.train_name}}</b>.
														You can consider taking <b>{{ least_delay_train }}</b>, which is more efficient with an average delay of <b>{{ least_delay_value }} minutes</b>.
													</p>
												</div>
												<div class="chart-container">
													<div id='alternative_train_delays'><!-- Plotly chart will be drawn inside this DIV --></div>
												</div>
											</div>
										{% endif %}

										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Delay by day of week: {{request_data.train_name}}</h2>
												</header>
												<p>{{request_data.train_name}} experiences its <b>highest delay</b> of {{max_delay_of_trains}} minutes on <b>{{max_delay_day}}s</b> and
													on <b>{{min_delay_day}}s</b>, it has the <b>shortest delay</b> of {{min_delay_of_trains}} minutes.
												</p>
											</div>
											<div class="chart-container">
												<div id='delays_by_week'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
										</div>

										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Delay by hour: {{request_data.deboarding_point}}</h2>
												</header>
												<p>
													The chart shows the delays of trains arriving at {{request_data.deboarding_point}} by hour of a day.
													Trains arriving at {{request_data.deboarding_point}} during <b>{{category_with_max_delays}} experience the highest delay of {{max_delay}} minutes</b>.
												</p>
											</div>
											<div class="chart-container">
												<div id='delay_by_hour_chart'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
										</div>

										<div class="container">
											<h2>Ask BahnIQ About Train Delays</h2>
											<textarea id="question" placeholder="e.g. What's the average delay for ICE 71?"></textarea>
											<br>
											<span id="button">
												<button id="askBtn" type="submit" class="cssbuttons-io"><span>Ask</span></button>
											</span>
											<div class="cooldown" id="cooldown"></div>
											<div class="answer" id="answer"></div>
										</div>
									</section>
							</div>
						{% endif %}

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Statophobia</p>
					</footer>

			</div>

		<!-- Scripts -->

			{% if delay_by_week_chart_json %}
				<script type='text/javascript'>
					var delay_by_week_chart = JSON.parse(`{{ delay_by_week_chart_json | safe }}`);
					Plotly.newPlot("delay_by_week_chart", delay_by_week_chart.data, delay_by_week_chart.layout, { responsive: true });

					var punctuality_chart = JSON.parse(`{{ punctuality_chart_json | safe }}`);
					Plotly.newPlot("punctuality_chart", punctuality_chart.data, punctuality_chart.layout, { responsive: true });

					var delay_by_hour_chart = JSON.parse(`{{ delay_by_hour_chart_json | safe }}`);
					Plotly.newPlot("delay_by_hour_chart", delay_by_hour_chart.data, delay_by_hour_chart.layout, { responsive: true });
 
					var delays_by_week = JSON.parse(`{{ get_delays_by_week_json | safe }}`);
					Plotly.newPlot("delays_by_week", delays_by_week.data, delays_by_week.layout, { responsive: true });
				</script>
			{% endif %}
			{% if alternative_trains_with_delays_json %}
				<script>
					var alternative_train_delays = JSON.parse(`{{ alternative_trains_with_delays_json | safe }}`);
					Plotly.newPlot("alternative_train_delays", alternative_train_delays.data, alternative_train_delays.layout, { responsive: true });
				</script>	
			{% endif %}
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/dropdown.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/chatbot.js') }}"></script>

	</body>
</html>