<!DOCTYPE HTML>

<html>
	<head>
		<title>BahnIQ - A Deutsche Bahn Analytics app</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<meta name="description" content="BahnIQ analyzes Deutsche Bahn train delays and punctuality across routes. Find out how late your train is likely to be using historical data." />
		<meta name="keywords" content="Deutsche Bahn delay, Bahn delay, train analytics, DB punctuality, German train on-time stats, BahnIQ" />
		<meta name="author" content="Statophobia" />
		<meta name="robots" content="index, follow" />

		<!-- Canonical URL -->
		<link rel="canonical" href="https://bahniq.subra.me/" />

		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>

		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon/favicon.svg') }}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}" />
		<link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}" />

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<div id="hamburger-menu" class="hamburger">
					<span></span>
					<span></span>
					<span></span>
				  </div>

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="{{ url_for('static', filename='images/bullet-train-svgrepo-com.svg') }}" alt="" /></span>
						<h1>BahnIQ</h1>
						<p>Deutsche Bahn Analytics – Turning Rail Data into Real Insights<br />
							Stats by <a href="https://www.linkedin.com/in/priya-dharshini-vaidhyanathan-a32bb2285/" target="_blank">Priya</a> 
							& <a href="https://www.linkedin.com/in/subramanian-veerappan/" target="_blank">Subra</a>.</p>
					</header>

				<!-- Main -->
					<h1 class="intro-q">
						Planning a journey? Want to arrive on time?
						<br><span style="font-size: x-large;">Check train performance by route</span>
					</h1>
					
					<div id="main">
						<p class="mobile-screen">Please use the ≡ icon on the top left to make your selection</p>
						<nav id="nav">
							<form action="{{ url_for('stats') }}" method="GET">
								<ul>
									<li>
										<select name="train" id="train">
											<option value="">Select train</option>
											{% for train in dropdown_data.train_names|sort() %}
												<option value='{{train}}' {% if request_data and request_data.train_name == train %}selected{% endif %}>
													{{train}}
												</option>
											{% endfor %}
										</select>
									</li>
							
									<!-- Dropdown 2 -->
									<li>
										<select name="boarding" id="boarding">
											<option value="">Select boarding point</option>
											{% for station in dropdown_data.stations|sort() %}
												<option value='{{station}}' {% if request_data and request_data.boarding_point == station %}selected{% endif %}>
													{{station}}
												</option>
											{% endfor %}
										</select>
									</li>
						
									<!-- Dropdown 3 -->
									<li>
										<select name="deboarding" id="deboarding">
											<option value="">Select deboarding point</option>
											{% for station in dropdown_data.stations|sort() %}
												<option value='{{station}}' {% if request_data and request_data.deboarding_point == station %}selected{% endif %}>
													{{station}}
												</option>
											{% endfor %}
										</select>
									</li>

									<li id="button">
										<button type="submit" class="cssbuttons-io"><span>Let's check!</span></button>
									</li>
								</ul>
								{% if message.error_message %}
									<p class="error">{{message.error_message}}</p>
								{% endif %}
							</form>
						</nav>

						{% if not message.error_message and request_data is defined %}
							<div id="main">

								<!-- Introduction -->
								 	<section id="summary" class="main">
										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>TL;DR</h2>
												</header>
												<ul>
													<li>The average delay of {{request_data.train_name}} to {{request_data.deboarding_point}} over the past three months is <b>{{short_and_long_term_delay_value.long_term_delay}} minutes</b>.</li>
													{% if short_and_long_term_delay_value.short_term_delay >= 0 %}
														<li>
															In the last two weeks, there is {{short_and_long_term_delay_value.short_term_delay}} minutes delay.
														</li>
													{% endif %}
													<li>{{request_data.train_name}} was <b></b>on time for {{on_time_percentage}}%</b> of its journeys.</li>
													<li>Avoid taking {{category_with_max_delays}} trains, as this has the highest average delay of {{max_delay}} minutes.</li>
													<li>For the same journey, you can consider taking <b>{{ least_delay_train }}</b>, which is more efficient with an average delay of only <b>{{ least_delay_value }} minutes</b>.
													</li>
													<li>You don't need to rush to the station on <b>{{min_delay_day}}</b>, 
														as trains have been relatively punctual on this day. 
														Over the past 3 months, the average delay on {{min_delay_day}} was just {{min_delay_of_trains}} minutes.
													</li>
												</ul>
											</div>
										</div>
									</section>

									<section id="train-analytics" class="main">
										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Delay time: {{request_data.train_name}}</h2>
												</header>
												<p>
													The average delay of {{ request_data.train_name }} to 
													{{ request_data.deboarding_point }} for the last three months is 
													{{ short_and_long_term_delay_value.long_term_delay }} minutes.<br><br>
													The average delay of {{ request_data.train_name }} to 
													{{ request_data.deboarding_point }} for the last two weeks is 
													{{ short_and_long_term_delay_value.short_term_delay }} minutes
												</p>
											</div>
											<div class="chart-container">
												<div id='delay_by_week_chart'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
	
										</div>

										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Punctuality rate: {{request_data.train_name}}</h2>
												</header>
												<p>This shows that {{request_data.train_name}} was on time by {{on_time_percentage}}% over the last 3 months.</p>
											</div>
											<div class="chart-container">
												<div id='punctuality_chart'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
										</div>
										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Punctuality by hour : {{request_data.train_name}}</h2>
												</header>
												<p>This shows the delays of {{request_data.train_name}} by hour of a day.
													{{category_with_max_delays}} has the highest delay.
													The maximum average delay is {{max_delay}} minutes.
												</p>
											</div>
											<div class="chart-container">
												<div id='delay_by_hour_chart'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
										</div>
										
										{% if alternative_trains_with_delays_json %}
											<div class="spotlight">
												<div class="content">
													<header class="major">
														<h2>Alternative trains with delays </h2>
													</header>
													<p>This shows the top 5 alternative trains with the least average delays compared to <b>{{request_data.train_name}}</b>.
													</p>
												</div>
												<div class="chart-container">
													<div id='alternative_train_delays'><!-- Plotly chart will be drawn inside this DIV --></div>
												</div>
											</div>
										{% endif %}
										<div class="spotlight">
											<div class="content">
												<header class="major">
													<h2>Delay_by_day : {{request_data.train_name}}</h2>
												</header>
												<p>Based on data from the last three months, the train {{request_data.train_name}} experienced its highest delay of {{max_delay_of_trains}} minutes on {{max_delay_day}}.
													On {{min_delay_day}}, it had the shortest delay of {{min_delay_of_trains}} minutes in the last 3 months.
												</p>
											</div>
											<div class="chart-container">
												<div id='delays_by_week'><!-- Plotly chart will be drawn inside this DIV --></div>
											</div>
										</div>
									</section>
							</div>
						{% endif %}

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Statophobia</p>
					</footer>

			</div>

		<!-- Scripts -->

			{% if delay_by_week_chart_json %}
				<script type='text/javascript'>
					var delay_by_week_chart = JSON.parse(`{{ delay_by_week_chart_json | safe }}`);
					Plotly.newPlot("delay_by_week_chart", delay_by_week_chart.data, delay_by_week_chart.layout, { responsive: true });

					var punctuality_chart = JSON.parse(`{{ punctuality_chart_json | safe }}`);
					Plotly.newPlot("punctuality_chart", punctuality_chart.data, punctuality_chart.layout, { responsive: true });

					var delay_by_hour_chart = JSON.parse(`{{ delay_by_hour_chart_json | safe }}`);
					Plotly.newPlot("delay_by_hour_chart", delay_by_hour_chart.data, delay_by_hour_chart.layout, { responsive: true });
 
					var delays_by_week = JSON.parse(`{{ get_delays_by_week_json | safe }}`);
					Plotly.newPlot("delays_by_week", delays_by_week.data, delays_by_week.layout, { responsive: true });
				</script>
			{% endif %}
			{% if alternative_trains_with_delays_json %}
				<script>
					var alternative_train_delays = JSON.parse(`{{ alternative_trains_with_delays_json | safe }}`);
					Plotly.newPlot("alternative_train_delays", alternative_train_delays.data, alternative_train_delays.layout, { responsive: true });
				</script>	
			{% endif %}
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/dropdown.js') }}"></script>
			<!-- <script src="{{ url_for('static', filename='assets/js/analysis.js') }}"></script> -->

	</body>
</html>